.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
  margin-left: 10px;
}

button {
  margin-bottom: 20px;
  cursor: pointer;
}
